# This is an example of a .env file for a Spring Boot application.
# Application configuration
PORT=8080   # port at which the application will run (default is 8080)
SPRING_PROFILES_ACTIVE=dev  # active profile for the application (dev/prod)


# Database configuration
DB_URL=your_database_url_here
DB_USERNAME=your_username_here
DB_PASSWORD=your_password_here

# Spring Security credentials
SPRING_SECURITY_USER_NAME=your_admin_username
SPRING_SECURITY_USER_PASSWORD=your_admin_password

# Resend email configuration
RESEND_API_KEY=your_resend_api_key
APP_BASE_URL=base_url_for_your_app # http://localhost:8080 for local development