HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
logs/
.git/
BankApp.git/

# Database files
*.db
*.sqlite
*.sqlite3
h2db/
*.mv.db
*.trace.db
*.sql

# H2 specific
/db/
.h2/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Environment Variables ###
.env
.credentials
.clinerules-architect
.clinerules-ask
.clinerules-code
hs_err_pid7228.log
IdeaProjects.lnk
key
key.pub
release.properties
pom.xml.releaseBackup
update-dockerfile-version.sh
