<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appenders for both profiles -->
    <!-- Console appender for both profiles -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console SQL Appender  -->
    <appender name="SQL_MARKER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] SQL %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appenders for files. Used only in `dev` profile -->
    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/debug.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FRAMEWORK_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/framework.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/framework.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SQL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/sql.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuration for production environment -->
    <springProfile name="prod">
        <!-- Loggers for production profile -->
        <logger name="info.mackiewicz.bankapp" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.hibernate" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="ch.qos.logback" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.springframework.security" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.springframework.web" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.hibernate.SQL" level="INFO" additivity="false">
            <appender-ref ref="SQL_MARKER" />
        </logger>

        <logger name="org.hibernate.type.descriptor.sql" level="INFO" additivity="false">
            <appender-ref ref="SQL_MARKER" />
        </logger>

        <!-- Root logger for production -->
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <!-- Configuration for developement -->
    <springProfile name="dev">
        <!-- Application logger -->
        <logger name="info.mackiewicz.bankapp" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="APP_FILE" />
        </logger>

        <!-- Framework loggers -->
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FRAMEWORK_FILE" />
        </logger>

        <logger name="org.hibernate" level="INFO" additivity="false">
            <appender-ref ref="FRAMEWORK_FILE" />
            <appender-ref ref="SQL_FILE" />
        </logger>

        <logger name="ch.qos.logback" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FRAMEWORK_FILE" />
        </logger>

        <!-- Security logs -->
        <logger name="org.springframework.security" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="APP_FILE" />
        </logger>

        <!-- Web layer logs -->
        <logger name="org.springframework.web" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="APP_FILE" />
        </logger>

        <!-- SQL logs -->
        <logger name="org.hibernate.SQL" level="INFO" additivity="false">
            <appender-ref ref="SQL_MARKER" />
            <appender-ref ref="APP_FILE" />
        </logger>

        <logger name="org.hibernate.type.descriptor.sql" level="INFO" additivity="false">
            <appender-ref ref="SQL_MARKER" />
            <appender-ref ref="APP_FILE" />
        </logger>

        <!-- Root logger -->
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="DEBUG_FILE" />
        </root>
    </springProfile>
</configuration>